* {
    padding: 0;
    margin: 0;
}

body { 
    font-family: sans-serif;
}

/*

skin tone: #edc7b7
light-grey: #eee2dc
grey: #bab2b5
blue: #123c69
red: #ac3b61

*/

.nav {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: auto;
    align-items: flex-end;
    background-color: #E7EFFF;
    position: absolute;
    z-index: 1;
    width: 100vw;
}

.nav li:first-child {
    margin-right: auto;
}

.nav a {
    color: black;
    display: block;
    text-decoration: none;
    width: 100%;
}

.nav-title {
    width: 300px;
}

ol li {
    list-style-type: none;
}

.display {
    width: 75px;
    margin: 10px;
    padding: 5px;
}

.nav-show {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.flip {
    width: 150px;
    padding: 5px;
    margin: 10px;
}

.notes {
    width: 150px;
    padding: 5px;
}

.container {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    overflow: hidden;
    /* background-image: url("/static/images/milkyway.jpg"); */
    background: #E7EFFF;
}

.row {
    flex: 1 1 auto;
    display: flex;
}

.row-main {
    /* background-image: linear-gradient(to left top, #051937, #102f5c, #1c4685, #2a5eaf, #3878dc); */
    background-color: #edc7b7;
    /* background: radial-gradient(circle at left top, rgb(191, 207, 218) 0%, rgb(100, 122, 172) 52%, rgb(66, 66, 75) 100%); */
}

.left-column {
    background-color: #030618;
    flex: 0 0 auto;
    width: 200px;
    /* background-image: linear-gradient(to right top, #051937, #0a2246, #102b55, #163566, #1c3f76); */
    /* background: radial-gradient(ellipse at 10% 100%, #051937 15%, #0a2246 62%, #163566 100%); */
    /* background: rgb(2,0,36); */
    /* background: radial-gradient(circle at 100% 100%, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 55%, rgba(0,212,255,1) 100%); */
    color: #E7EFFF;
}

.sub {
    width: 100%;
    height: 50vh;
}

.sub-top-list {
    padding: 25px;
    background-color: #f04b4c;
}

.sub-top-list li {
    
}

.title {
    padding: 25px;
    padding-bottom: 25px;
    font-size: 32px;
    /* background-image: linear-gradient(to right bottom, #051937, #0a2246, #102b55, #163566, #1c3f76); */
}

.message {
    margin-top: 200px;
}

.main-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 400px;
}

.content {
    height: 100vh;
}

.portal {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 75%;
    width: 75vw;
    perspective: 600px;
    /* background-color: #edc7bb; */
}

.circle {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.tri {
    position: absolute;
    width: 30px;
    height: 30px;
    border-top-left-radius: 100%;
    cursor: pointer;
}

.tri1{
    background-color: red;
    /* right: 120px;
    bottom: 171px; */
    transform-origin: bottom right;
    transform: rotate(45deg);
    /* -ms-transform: rotate(20deg); */
    /* -webkit-transform: rotate(20deg); */
    /* transform: rotate(25deg); */
    /* clip-path: polygon(0 0, 100% 100%, 0 100%); */
}

.tri2 {
    background-color: green;
    transform-origin: bottom right;
    transform: rotate(135deg);
}

.tri3 {
    background-color: blue;
    transform-origin: bottom right;
    transform: rotate(225deg);
}

.tri4 {
    background-color: yellow;
    transform-origin: bottom right;
    transform: rotate(-45deg);
}

.tri-spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.scene {
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-origin: center right;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front {
    background: #edc7b7;
}

.card-face-back {
    background: #030618;
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.cube-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.scene-cube {
    width: 100%;
    height: 100%;
    perspective: -300px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.cube-face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    /* line-height: 200px; */
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cube-face-front  { background: hsla(  0, 100%, 50%, 1); }
.cube-face-right  { background: hsla( 60, 100%, 50%, 1); }
.cube-face-back   { background: hsla(120, 100%, 50%, 1); }
.cube-face-left   { background: hsla(180, 100%, 50%, 1); }
.cube-face-top    { background: hsla(240, 100%, 50%, 1); }
.cube-face-bottom { background: hsla(300, 100%, 50%, 1); }

.cube-face-front  { transform: rotateY(  0deg); }
.cube-face-right  { transform: rotateY( 90deg); }
.cube-face-back   { transform: rotateY(180deg); }
.cube-face-left   { transform: rotateY(-90deg); }
.cube-face-top    { transform: rotateX( 90deg); }
.cube-face-bottom { transform: rotateX(-90deg); }

.cube-face-front  { transform: rotateY(  0deg) translateZ(500px); }
.cube-face-right  { transform: rotateY( 90deg) translateZ(500px); }
.cube-face-back   { transform: rotateY(180deg) translateZ(500px); }
.cube-face-left   { transform: rotateY(-90deg) translateZ(500px); }
.cube-face-top    { transform: rotateX( 90deg) translateZ(500px); }
.cube-face-bottom { transform: rotateX(-90deg) translateZ(500px); }
.cube { transform: translateZ(-100px); }

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }


.cube { transition: transform 1s; }

.radio-group {
    margin: 15px;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: rgb(0, 0, 0);
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #0f7525;
}

label
{
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color: #666;
    cursor: pointer;
} 

.polygon1 {
    width: 100%;
    height: 100%;
    background: #0f7525;
    clip-path: polygon(70% 50%, 0% 20%, 30% 50%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 70% 50%, 100% 20%, 30% 50%, 50% 0);

}

/*

========================================

RED VS BLUE

========================================

*/

.teams {
    width: 100%;
    height: 100%;
    position: relative;
}

.team {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.redteam {
    background: #cf012ee8;
}

.blueteam {
    background: rgb(11, 11, 151);
    clip-path: polygon(0 86%, 100% 12%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column-reverse;
}

.prompt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prompt input {
    padding: 10px;
}

/*

========================================

RED VS BLUE

========================================

*/


/* Mountain and Triangle CSS */

.g-container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: rgb(0, 0, 0);
    background-color: rgb(29, 88, 11);
}

.box {
    width: 50px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.box:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.box1 {
    background-color: crimson;
}

/* 
    =============================
               Mountain 
    =============================
*/

.t-container {
    position: relative;
    margin: auto;
    /* display: block; */
    /* width: 500px; */
    height: 55vh;
    background: white;
    z-index: -1;
    overflow: hidden;
}

#mountain-name {
    position: absolute;
    z-index: 2;
    left: 30vw;
    top: 5vh;
    width: 300px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 2.4em;
}

.t1 {
    position: absolute;
    left: 0;
    border-top: 50vh solid rgb(135, 251, 255);
    border-right: 75vw solid transparent;
}

.t2 {
    position: absolute;
    right: 0;
    border-top: 50vh solid rgb(135, 251, 255);
    border-left: 75vw solid transparent;
}

.edge {
    width: 100vw;
}

.edge::after {
    content: " ";
    display:block;
    position: relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background: linear-gradient(rgb(44, 121, 29) 49%, transparent 49%),
        linear-gradient(-45deg, rgb(29, 88, 11) 33%, transparent 33%), linear-gradient(45deg,  rgb(29, 88, 11) 33%, white 33%);
    background-repeat: repeat-x;
    background-size: 5px 0, 45px 45px, 45px 45px;
}